<div class="container mt-3">
    <table class="table   table-hover">
        <thead>
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of orders |async; let i = index" (click)="viewOrder(item)">
            <th scope="row">#{{item.id}}</th>
            <td>{{item.orderDate | date:'medium'}}</td>
            <td><strong>{{item.total | currency}}</strong></td>
            <td>{{item.status}}</td>
          </tr>
          
        </tbody>
      </table>
</div>